@model topmeperp.Models.CostChangeFormTask
@{
    ViewBag.Title = "專案執行-列印成本異動單";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<h3 style="height:20px;line-height:10px">@ViewBag.Title</h3>
<button id="btnPrint" name="btnPrint" type="button" class="btn btn-info" onclick="javascript: printpage('printarea')">列印</button>
<button id="btnClose" name="btnClose" type="button" class="btn btn-success"  onclick="javascript: window.close();">關閉</button>
<div class="row" id="printarea" style="padding-top:10px;">
    <table>
        <thead>

        </thead>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>成本異動單</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label">專案編號:@ViewBag.projectId</label>
            </div>
            <div class="col-sm-4">
                <label class="control-label">專案名稱:@ViewBag.projectName</label>
            </div>
            <div class="col-sm-2">
                <label class="control-label">異動單號:@ViewBag.FormId</label>
            </div>
            <div class="col-sm-4">
                <label class="control-label">列印時間:@DateTime.Now.ToShortDateString() </label>
            </div>
        </div>
        <div class="row">
            @if (null != Model)
            {
                Html.RenderPartial("_ChangeOrderItemListPrint");
            }
        </div>
        <div class="row">
            <table style="border-style:solid;border-width:2px;width:100%;height:50px">
                <tr>
                    <td style="width:20%;border-style:solid;border-width:1px">增減原因說明</td>
                    <td style="width:80%;border-style:solid;border-width:1px">@Html.DisplayFor(model => model.FormData.REMARK_ITEM)</td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table style="border-style:solid;border-width:2px;width:100%;height:50px">
                <tr>
                    <td style="width:10%;border-style:solid;border-width:1px">經理</td>
                    <td style="width:23%;border-style:solid;border-width:1px"></td>
                    <td style="width:10%;border-style:solid;border-width:1px">業管</td>
                    <td style="width:23%;border-style:solid;border-width:1px"></td>
                    <td style="width:10%;border-style:solid;border-width:1px">工地</td>
                    <td style="width:23%;border-style:solid;border-width:1px"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--引進列印功能-->
<script src="~/Scripts/topmep_selecComp.js"></script>