
@{
    ViewBag.Title = "費用查詢";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


@if (null != ViewBag.projectid && ViewBag.projectid != "")
{
    <h3 style="height:20px;line-height:10px">工地費用查詢 :</h3>
}
else
{
    <h3 style="height:20px;line-height:10px">公司營業費用查詢 :</h3>
}
<div class="jumbotron">
    <form name="expSearch" id="expSearch" action="/CashFlow/SearchEXP" method="Post" class="form-inline">
        @if (null != ViewBag.projectid && ViewBag.projectid != "")
        {
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="id">專案編號 :</label>
                    <input id="projectid" name="projectid" type="text" value="@ViewBag.projectid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                </div>
                <div class="col-md-6">
                    <label for="projectName">專案名稱 :</label>
                    <input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="background-color:#cccccc; width:250px;" readonly="readonly" />
                </div>
            </div>
        }
        <div class="row">
            <div class='col-md-6 form-group' style="padding-top:10px">
                <label for="occurred_date">發生年月 : </label>
                <input id="occurred_date" name="occurred_date" class="form-control" />
            </div>
            <div class='col-md-6 form-group' style="padding-top:10px">
                <label for="expid">費用單編號 :</label>
                <input id="expid" name="expid" type="text" value="" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class='col-md-6 form-group' style="padding-top:10px">
                <label for="subjectname">項目名稱 : </label>
                <input id="subjectname" name="subjectname" class="form-control" />
            </div>
            <div class="col-md-6 form-group" style="padding-top:10px">
                <label for="status">狀態 : </label> @Html.DropDownList("status", null, String.Empty, new { @class = "form-control" })
                <input id="Submit1" type="submit" class="btn btn-info" value="查詢" />
            </div>
            <input type="hidden" id="id" name="id" value="@ViewBag.projectid" />
        </div>
        <div class="row">
        </div>
        <div class="col-md-6">
            <div id="divProcessing">
                <img src="~/Content/ajax-loader.gif">
            </div>
        </div>
    </form>
</div>
<!--估驗單列表區域-->
<div class="container-fluid">
    @if (null != Model)
    {
        Html.RenderPartial("_ExpenseFormList");
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#Submit1').click(function () {
            $("#divProcessing").show();
        });

        $(function () {
            $('#occurred_date').datetimepicker({
                format: 'YYYY/MM/DD',
                locale: 'zh-tw'
            });
        });
    })
</script>

