
@{
    ViewBag.Title = "會計稽核作業:";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h3 style="height:20px;line-height:10px">@ViewBag.Title</h3>
<div class="jumbotron">
    <form name="formSearch" id="formSearch" action="SearchForm4Journal" method="Post" class="form-inline">
        <div class="row">
            <div class='col-md-6 form-group'>
                <label for="occurred_date">發生年月 : </label>
                <input id="occurred_date" name="occurred_date" class="form-control" />
            </div>
            <div class='col-md-6 form-group'>
                <label for="expid">公司營業費用單編號 :</label>
                <input id="expid" name="expid" type="text" value="" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class='col-md-6 form-group' style="padding-top:5px">
                <label for="subjectname">項目名稱 : </label>
                <input id="subjectname" name="subjectname" class="form-control" />
            </div>
            <div class="col-md-3 form-group" style="padding-top:5px">
                <input type="hidden" value="30" id="status" name="status" />
                <input id="Submit1" type="submit" class="btn btn-info" value="查詢" />
            </div>
            <div class="col-md-3">
                <div id="divProcessing">
                    <img src="~/Content/ajax-loader.gif">
                </div>
            </div>
        </div>
    </form>
</div>
<!--費用單列表區域-->
<div class="container-fluid">
    @if (null != Model)
    {
        Html.RenderPartial("_ExpenseFormList");
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#Submit1').click(function () {
            $("#divProcessing").show();
        });

        $(function () {
            $('#occurred_date').datetimepicker({
                format: 'YYYY/M',
                locale: 'zh-tw'
            });
        });
    })
</script>
