@model topmeperp.Models.ExpenseTask
<!-- Modal content -->
<div class="modal-content">
    <form id="formPayment" name="formPayment" action="addPaymentTerms" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">付款條件與票期</h4>
        </div>
        <div class="modal-body form-group">
            <input type="hidden" id="project_id" name="project_id" />
            <input type="hidden" id="contract_id" name="contract_id" />
            <div class="col-md-12">
                <table border="1">
                    <tr>
                        <td Align="Center">估驗比率</td>
                        <td Align="Center">現金票 : <select id="usancecash" name="usancecash"><option value=""></option><option value="電匯">電匯</option><option value="現金">現金</option><option value="支票">支票</option></select></td>
                        <td Align="Center"><input type="text" id="usance_date1" name="usance_date1" style="width:60px;" />天票 : <select id="usance_1" name="usance_1"><option value=""></option><option value="電匯">電匯</option><option value="現金">現金</option><option value="支票">支票</option></select></td>
                        <td Align="Center"><input type="text" id="usance_date2" name="usance_date2" style="width:60px;" />天票 :<select id="usance_2" name="usance_2"><option value=""></option><option value="電匯">電匯</option><option value="現金">現金</option><option value="支票">支票</option></select></td>
                    <tr>
                        <td>訂金 : <input type="text" id="usanceadvance" name="usanceadvance" style="width:80px;" />%</td>
                        <td><input type="text" id="usanceadvance_cash" name="usanceadvance_cash" style="width:100px;" />%</td>
                        <td><input type="text" id="usanceadvance_1" name="usanceadvance_1" style="width:100px;" />%</td>
                        <td><input type="text" id="usanceadvance_2" name="usanceadvance_2" style="width:100px;" />%</td>
                    <tr>
                        <td>貨到 : <input type="text" id="usancegoods" name="usancegoods" style="width:80px;" />%</td>
                        <td><input type="text" id="usancegoods_cash" name="usancegoods_cash" style="width:100px;" />%</td>
                        <td><input type="text" id="usancegoods_1" name="usancegoods_1" style="width:100px;" />%</td>
                        <td><input type="text" id="usancegoods_2" name="usancegoods_2" style="width:100px;" />%</td>
                    <tr>
                        <td>完工 : <input type="text" id="usancefinished" name="usancefinished" style="width:80px;" />%</td>
                        <td><input type="text" id="usancefinished_cash" name="usancefinished_cash" style="width:100px;" />%</td>
                        <td><input type="text" id="usancefinished_1" name="usancefinished_1" style="width:100px;" />%</td>
                        <td><input type="text" id="usancefinished_2" name="usancefinished_2" style="width:100px;" />%</td>
                    <tr>
                        <td>尾款 : <input type="text" id="usanceretention" name="usanceretention" style="width:80px;" />%</td>
                        <td><input type="text" id="usanceretention_cash" name="usanceretention_cash" style="width:100px;" />%</td>
                        <td><input type="text" id="usanceretention_1" name="usanceretention_1" style="width:100px;" />%</td>
                        <td><input type="text" id="usanceretention_2" name="usanceretention_2" style="width:100px;" />%</td>
                    <tr>
                        <td>付款金額 :</td>
                        <td><input type="text" id="paid_amount_cash" name="paid_amount_cash" style="width:100px;" /></td>
                        <td><input type="text" id="paid_amount_1" name="paid_amount_1" style="width:100px;" /></td>
                        <td><input type="text" id="paid_amount_2" name="paid_amount_2" style="width:100px;" /></td>
                    <tr>
                        <td>票期 :</td>
                        <td><input type="text" id="payment_date_cash" name="payment_date_cash" style="width:100px;" /></td>
                        <td><input type="text" id="payment_date_1" name="payment_date_1" style="width:100px;" /></td>
                        <td><input type="text" id="payment_date_2" name="payment_date_2" style="width:100px;" /></td>
                </table>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </form>
</div>




