@{
    ViewBag.Title = "專案執行-估驗計價";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--專案估驗計價表頭
<div class="container">
    <h2 style="padding-top:10px;">專案估驗/費用計價主頁 : </h2>
</div>
<div style="padding-bottom:10px;"></div>-->

<!--專案列表區域-->
<div class="container">
    @ViewBag.SearchResult
    @if (null != Model)
    {
        Html.RenderPartial("_ProjectList");
    }
</div>
