 <!--依據流程任務與部門設定功能-->

<div class="col-md-6">
    @{
        bool privilegeCheck = false;
        bool isManager = false;
    }
    @if (null != Model.task)
    {
        if (Model.task.ACTIVITY_TYPE == "C")
        {
            <input type="button" value="儲存" id="updateForm" name="updateForm" class="btn btn-default" />
            //審核任務需要部門但不需要主管，則判斷登入者是部門主管
            if (Model.task.DEP_CODE != null)
            {
                SYS_USER u = (SYS_USER)Session["user"];

                if (u.DEP_CODE == Model.task.DEP_CODE)
                {
                    privilegeCheck = true;
                }
            }
            else
            {
                <input type="button" value="送審" id="SendForm" name="SendForm" class="btn btn-warning" />
            }
        }

        if (Model.task.ACTIVITY_TYPE == "D")
        {
            //審核任務需要部門主管，則判斷登入者是是否為申請者之部門管理者
            if (Model.task.DEP_CODE == null)
            {
                SYS_USER u = (SYS_USER)Session["user"];
                if (Model.DeptInfo.MANAGER == u.USER_ID)
                {
                    privilegeCheck = true;
                    isManager = true;
                }
            }
            //審核任務需要部門審核，則判斷登入者是部門主管
            if (Model.task.DEP_CODE != null)
            {
                SYS_USER u = (SYS_USER)Session["user"];
                if (u.USER_ID == Model.task.MANAGER)
                {
                    privilegeCheck = true;
                    isManager = true;
                }
            }
        }
        if (privilegeCheck && isManager)
        {
            @Html.Raw("退件原因:");
            <textarea id="RejectDesc" name="RejectDesc" cols="30" rows="2" class="form-control"></textarea>
            <input type="button" value="退件" id="RejectForm" name="RejectForm" class="btn btn-warning" />
            <input type="button" value="核可" id="SendForm" name="SendForm" class="btn btn-primary" />
        }
        else if (privilegeCheck)
        {
            <input type="button" value="複審" id="SendForm" name="SendForm" class="btn btn-warning" />
        }
    <!--中止區塊-->
        if (Model.task.CREATE_USER_ID == ((SYS_USER)Session["user"]).USER_ID && Model.task.CURENT_STATE != -1)
        {
            <input type="submit" value="中止" id="CancelForm" name="CancelForm" class="btn btn-danger" />
        }
    }
</div>
